[Unit]
Description=LetUsGrow
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/dpecka/letusgrow
ExecStart=/home/dpecka/letusgrow/venv/bin/python3 main.py server
Restart=always

[Install]
WantedBy=multi-user.target